@model RestorantReservations.Models.Table

@{
    ViewData["Title"] = "Delete";
}

<div class="delete_table_view">
    <div class="row">
        <h4 class="delete_table_title">Are you sure you want to delete this?</h4>
        <div class="col-md-4">
            <dl >
                <dt class="control-label">
                    @Html.DisplayNameFor(model => model.capacity)
                </dt>
                <dd class="control-label">
                    @Html.DisplayFor(model => model.capacity)
                </dd>
                <dd class="control-label">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="control-label">
                    @Html.DisplayNameFor(model => model.available)
                </dt>
                <dd class="control-label">
                    @Html.DisplayFor(model => model.available)
                </dd>
            </dl>
    
            <form asp-action="Delete">
                <input type="hidden" asp-for="id" />
                <input type="submit" value="Delete" class="delete_btn" /> 
            </form>
        </div>
    </div>
    <a asp-action="Index" class="back_to_list">Back to List</a>
</div>