@model RestorantReservations.Models.Table
@{
    ViewData["Title"] = "Details";
}
<div class="details_table_view">
    <div class="row">
        <h1 class="details_table_title">Table</h1>
        <div class="col-md-4">
            <dl >
                <dt class="control-label">
                    @Html.DisplayNameFor(model => model.capacity)
                </dt>
                <dd class="control-label">
                    @Html.DisplayFor(model => model.capacity)
                </dd>
                <dd class="control-label">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="control-label">
                    @Html.DisplayNameFor(model => model.available)
                </dt>
                <dd class="control-label">
                    @Html.DisplayFor(model => model.available)
                </dd>
            </dl>
        </div>
    </div>
    <a asp-action="Edit" asp-route-id="@Model?.id" class="details_edit_btn">Edit</a>
    <a asp-action="Index" class="back_to_list">Back to List</a>
</div>
