@model IEnumerable<RestorantReservations.Models.Table>

@{
    ViewData["Title"] = "Index";
}

<h1 class="table_title">Available Tables</h1>
<div class="decoration_table_top_div"></div>
<div class="decoration_table_bottom_div"></div>
<div class="table_view_tables">


<p>
    <a class="create_table_button"  asp-action="Create">Create New Table</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.available)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.capacity)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.available)
            </td>
            <td>
                <a class="CRUD_buttons" asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a class="CRUD_buttons" asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a class="CRUD_buttons" asp-action="Delete"  asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>