@model IEnumerable<RestorantReservations.Models.Table>

@{
    ViewData["Title"] = "Index";
}

<h1>Available Tables</h1>

<p>
    <a style="color:black" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.available)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.capacity)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.available)
            </td>
            <td>
                <a asp-action="Edit" style="color: black" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" style="color: black" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" style="color: black" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
