@model RestorantReservations.Models.Reservation

@{
    ViewData["Title"] = "Delete";
}


<div class="delete_reservation_view">
    <div class="row">
        <h4 class="delete_reservation_title">Are you sure you want to delete this?</h4>
        <div class="col-md-4">
            <h4 class="title_reservation_delete">Reservation</h4>
            <dl >
                <dt class="control-label">
                    @Html.DisplayNameFor(model => model.date)
                </dt>
                <dd class="control-label">
                    @Html.DisplayFor(model => model.date)
                </dd>
                <dt class="control-label">
                    @Html.DisplayNameFor(model => model.note)
                </dt>
                <dd class="control-label">
                    @Html.DisplayFor(model => model.note)
                </dd>
                <dt class="control-label">
                    @Html.DisplayNameFor(model => model.table)
                </dt>
                <dd class="control-label">
                    @Html.DisplayFor(model => model.table.id)
                </dd>
            </dl>
    
            <form asp-action="Delete">
                <input type="hidden" asp-for="ID" />
                <input type="submit" value="Delete" class="delete_btn" /> 
            </form>
         </div>
    </div> 
    <a asp-action="Index" class="back_to_list">Back to List</a>
</div>