@model RestorantReservations.Models.Reservation

@{
    ViewData["Title"] = "Details";
}
<div class="details_reservation_view">
    <div class="row">
        <h1 class="details_reservation_title">Reservation</h1>
        <div class="col-md-4">
            <dl >
                <dt class="control-label">
                    @Html.DisplayNameFor(model => model.date)
                </dt>
                <dd class="control-label">
                    @Html.DisplayFor(model => model.date)
                </dd>
                <dt class="control-label">
                    @Html.DisplayNameFor(model => model.note)
                </dt>
                <dd class="control-label">
                    @Html.DisplayFor(model => model.note)
                </dd>
                <dt class="control-label">
                    @Html.DisplayNameFor(model => model.table)
                </dt>
                <dd class="control-label">
                    @Html.DisplayFor(model => model.table.id)
                </dd>
            </dl>
        </div>
    </div> 
    <a asp-action="Edit" asp-route-id="@Model?.ID" class="details_edit_btn">Edit</a>
    <a asp-action="Index" class="back_to_list">Back to List</a>
</div>