@model IEnumerable<RestorantReservations.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Reservation Menu</h1>

<p>
    <a style="color:black" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.table)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.table.Name)
            </td>
            <td>
                <a asp-action="Edit" style="color: black" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" style="color: black" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" style="color: black" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
